@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/roboto";
@import "@fontsource/roboto-mono/400.css";
@import "@fontsource/roboto-mono/700.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Simple style */
html,
body {
  font-family: "Roboto", "Arial", sans-serif;
  @apply font-comic;
  line-height: 1.6;
  font-size: 20px;
}
a:hover {
  /* color: #1e90ff; */
  color: #a6cf8c;
}

a {
  color: #83c167;
  text-decoration: none;
}

ul,
ol {
  list-style-type: disc;
  padding-left: 1rem;
  /* margin: 1rem 0; */
}

li {
  margin: 0.1rem 0;
}

button {
  @apply bg-slate-600 hover:bg-slate-500 text-white font-bold px-1 rounded;
}
button:disabled {
  background-color: #333;
  cursor: not-allowed;
}

p {
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.75rem;
}
img {
  max-width: 100%;
  height: auto;
}

code {
  color: #e1a158;
  font-family: "Roboto Mono", monospace;
  white-space: pre-wrap;
}

hr {
  border-color: white;
  /* this does not work, due to weird processing of hr tag in flex */
  /* width: 100%; */
  /* @apply w-3xl; */
  /* 48rem - 2rem for margin -2rem arbitrary ancestor padding */
  width: 44rem;
  margin: 1rem;
}

/* for now, make font on page Comic Neue */
/* .comic-page p,
.comic-page span {
  font-family: "Comic Neue", "Roboto", "Arial", sans-serif;
  font-size: 22px;
} */
/* Prevent the above from overriding monaco values */
/* .monaco-editor p,
.monaco-editor span {
  font-family: Arial, "Consolas", "Courier New", monospace !important;
  font-size: 14px !important; 
} */
