/* This file is necessary because we must set flex-dir dyanmically and tw cannot do that */
.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}
@media (max-width: 48rem) {
  .row {
    flex-direction: column;
  }
}
